*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color: rgb(239, 243, 246);
}
.container{
    width: 95%;
    margin: auto;
    background-color: white;
}
.container-middle{
    width: 75%;
    margin: auto;
}
/* nav bar style */
nav{
    width: 100%;
    background-color: white;
    padding: 5px;
}
.nav-conatiner{
    display: flex;
    justify-content: space-around;
}
nav #Etisalat_Logo{
    float: left;
    width: 30px; 
    height: 40px;
}
nav ul li{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-weight: bold;
}
#menuIcon{
  color: grey;
  font-size: 25px;
  float: left;

}
.iconwithlogo{
    margin-right: 5px;
}
.iconwithlogo a{
    margin-right: 5px;
}
.nav-responsive{
    display: flex;
}
.smallnavbar-conatiner-text{
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.smallnavbar-conatiner-search-bar{
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
} 
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
} 
#mySidenav {
    display: block;
}
#smallnavbar {
    display: none;
}
@media (max-width:900px) {
    #largeScreenNavbar {
      display: none;
    }
    #smallnavbar {
      display: block;
    }
  }
/* Search bar style */
.search-bar{
    display: flex;
}
.search-box{
    width: 300px;
    height: 40px;
    border: olive solid 1px;
    border-radius: 10px ;
}
.search-box input#search{
    width: 80%;
    border: none;
    float: left;
    padding: 10px;
    border-radius: 10px ;
}
.search-box input#search:focus{
    outline: none;
}
.search-box button{
  float: left;
  width: 20%;
  height: 100%;
  padding: 10px;
  outline: none;
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px ;

}
.search-box button i{
    color: olive;
    font-size: 20px;    
}
.cart-button  i{
    height: 40px;
    padding: 10px;
    border-radius: 5px ;
    color: gray;
    font-size: 20px;
    border: 1px gray solid;
    margin-left: 5px;
}
/*  */
.hero-wrap{
    position: relative;
    padding-bottom: 85px;
    overflow: hidden;
   
}

@media (max-width:600px) {
    .hero-wrap{
        height: 600px;
    }
  }
.background img{
    width: 100%;
    height: 400px;
    padding-top: 20px;
}
.transbox {
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    height:100%;
}
.transbox .container-middle{
    text-align: center;
}
#logo_light{
    max-width: 180px;
    height: 170px;
}
.Biget-text{
    font-size: 3vw;
}
.hero-btn-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#hero-left-button ,#hero-right-button{
    background-color:white;
    color: rgb(34,148,148);
    font-size: 15px;
    padding: 10px;
    font-family: 'Work Sans', sans-serif;
    border: 1px solid rgb(34,148,148);
    border-radius: 10px;
    width: 250px;
    margin: 10px;
}

/*  */
.btn-group{
    display: flex;
    width: 100%;
}
.btn-group button{
    background-color:rgb(34,148,148);
    color: white;
    font-size: 15px;
    width: 50%;
    padding: 20px;
    font-family: 'Varela Round', sans-serif;
    border: none;

}
#right-button{
    color:rgb(34,148,148) ;
    background-color: white;
    border: 1px rgb(34,148,148) solid;

}
/*  */
.text-style1{
    color: grey;
}
.text-style2{
    font-family: 'Varela Round', sans-serif;
    color: black;

}
.text-style3{
    font-family: 'Varela Round', sans-serif;
    color: black;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    text-align: center;

}
.internet-plans {
    padding: 10px;
    padding-bottom: 50px;
}
.validateors-group-btn{
    display: flex;
    width: 140px;
    padding: 5px;
    background-color: rgb(26, 78, 83);
    border-radius: 40px;
}
.validateors-group-btn button{
    color: white;
    font-family: 'Varela Round', sans-serif;
    border: none;
    width: 50%;
    cursor: pointer;
    height: 100%;
    border-radius: 40px;
    background-color: rgb( 32, 151, 144);
    padding: 5px;
}
#validateors-group-leftbtn{
    background-color: rgb(26, 78, 83);
    color: white;
}
.internet-plans-firstBar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.Data-Bundle-circles{
    display: flex;
    justify-content: space-evenly;
}
.circle ,.circle1 ,.circle2{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex; /* or inline-flex */
    align-items: center; 
    justify-content: center;
    background-color: rgb(231, 236, 230);
    
}
.circle1{
   
    border: 3px rgb(58, 133, 137) solid;
}
.circle2{
   
  
    border: 3px rgb(154, 155, 150) solid;
    
}
.social-media-btngroup{
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.social-media-btngroup img{
    width: 30px;
    height: 20px;
    border-radius: 3px;
    margin: 3pt;
    cursor: pointer;
}
.checkPrice{
    display: flex;
    width: 100%;
    justify-content: center;
}
#checkPriceBtn{
    background-color:rgb(34,148,148);
    color: white;
    font-size: 15px;
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
    border: none;
    border-radius: 10px;
    width: 250px;
    
}
/*  */
.features-title{
    font-size: 3vw;
    color: white;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}
.text-style4{
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.features{
    position: relative;
}
#featuresImage{
    width: 100%;
    height: 400px;
    
}
.features-content{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px;
  
}
.features-content-circles{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 50%;
    
}
/*  */
.Explore{
    padding: 10px;
}
.Explore-title{
    font-size: 3vw;
    color: black;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;

}
.Explore .container-middle{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.exploreBtns-data,.exploreBtns-voice{
    padding: 15px;
    border: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
   
    font-size: 20px;
    width: 200px;
    border-radius: 10px;
}
.exploreBtns-data{
    background-color: rgb(26, 78, 83);
}
.exploreBtns-voice{
    background-color:rgb(34,148,148);
}
.gray-container{
    background-color: rgb(232, 232, 232);
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 20%;
    padding-left: 20%;
}
.data-collections{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.small-circle{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    display: flex; /* or inline-flex */
    align-items: center; 
    justify-content: center;
    background-color: rgb(26, 78, 83);
    position: relative;
    left: -25px;
    top: -10%;
    float: left;
}
.small-circle p{
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.rectangele{
    border: rgb(26, 78, 83) 3px solid;
    background-color: white;
    border-left: none;
    height: 70px;
    width: 200px;
    margin: 20px;
   
}
.rectangele-style{
    padding: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    color: rgb(26, 78, 83);
}
.voice-coolections{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.voice-coolections .rectangele{
    border: rgb(34,148,148) 3px solid;
    border-left: none;
   
}
.voice-coolections .small-circle{
    background-color: rgb(34,148,148);
}
.voice-coolections .rectangele-style{
    color: rgb(34,148,148);
}
/*  */
.termsAndConditions{
    position: relative;
   
}
.termsAndConditions-content{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px;

}
.termsAndConditions-title{
    font-size: 3vw;
    color: black;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;

}
.termsAndConditions img{
    width: 100%;
    height: 400px;
}
.condition-list{
    font-size: 2vw;
    color: black;
    font-family: 'Work Sans', sans-serif;
}
.condition-list li{
    margin-top: 20px;
    margin-bottom: 20px;
}
/*  */
.offers{
    height: 400px;
    background-color: rgb(231, 227, 224);
}
.offers .container-middle{
    height: 100%;
}
.offers-content{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(34,148,148);
}
.social-media-large-btn-group{
    display: flex;
    margin-top: 20px;
}
.social-media-large-btn-group img{
    width: 50px;
    height: 50px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}
/*  */
.footer
{
    background-color: rgb(47, 47, 47);
    color: white;
    padding-bottom: 3%;
}
.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Work Sans', sans-serif;

}
.footer-content ul{
    padding: 0;
    list-style: none;

}
.socialIcons i{
  margin-right: 20px;
  font-size: 20px;
}